.primary-action {
  background-color: #e6e6e6;
  color: #0d0d0d
}

.secondary-action {
  background-color: hsla(0, 0%, 100%, .3);
  color: #e6e6e6
}

li {
  display: inline;
  margin-right: 12px
}

button {
  border-radius: 4px;
  border: none;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 22px
}

button span {
  display: inline-block;
  margin-left: 20px
}
