<div class="App">
  <header class="hero">
    <img class="hero-image" src="/assets/wine-hero.webp" alt="Wine bottles" />
    <nav class="navigation">
      <section class="primary-navigation">
        <app-logo></app-logo>
        <app-nav [homeUrl]="'https://developer.mozilla.org'" [whitesUrl]="'https://developer.mozilla.org'"
          [redsUrl]="'https://developer.mozilla.org'" [blendsUrl]="'https://developer.mozilla.org'"></app-nav>
      </section>
  <app-user-avatar
  [avatarUrl]="'https://developer.mozilla.org'"></app-user-avatar>
    </nav>
    <div class="hero-content">
<app-hero-one>
[heroImg]="'/assets/rex-goliath-logo.png'"
</app-hero-one>
<app-hero-two
></app-hero-two>
    </div>
  </header>
  <main>
    <section class="wine-listing">
      <h2>Drink Again</h2>
      <ul>
        <li>
          <div class="wine-listing">
            <app-wine-listing [linkImg]="'/assets/red-wine.jpg'">
              <span class="new-badge">New!</span>
            </app-wine-listing>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <span class="new-badge">New!</span>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <span class="new-badge">New!</span>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
          </div>
        </li>
      </ul>
    </section>
    <section class="category">
      <h2>Keep Drinking</h2>
      <ul>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
        <li>
          <div class="wine">
            <img src="/assets/red-wine.jpg" alt="Wine" />
            <div class="amount-consumed">
              <progress min="0" max="100" value="22"></progress>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </main>
</div>
