<div class="App">
  <header class="hero">
    <img class="hero-image" src="/assets/wine-hero.webp" alt="Wine bottles" />
    <nav class="navigation">
      <section class="primary-navigation">
        <app-logo></app-logo>
        <app-nav [homeUrl]="'https://developer.mozilla.org'" [whitesUrl]="'https://developer.mozilla.org'"
          [redsUrl]="'https://developer.mozilla.org'" [blendsUrl]="'https://developer.mozilla.org'"></app-nav>
      </section>
      <app-user-avatar [avatarUrl]="'https://developer.mozilla.org'"></app-user-avatar>
    </nav>
    <div class="hero-content">
      <app-hero-one>
        [heroImg]="'/assets/rex-goliath-logo.png'"
      </app-hero-one>
      <app-hero-two></app-hero-two>
    </div>
  </header>
  <main>
    <section class="category">
      <h2>Drink Again</h2>
      <ul>
        <li *ngFor="let wine of wines">
          <app-wine-listing
        [isNew]="wine.isNew"
        [linkImg]="wine.linkImg"
        [wineName]="wine.wineName"
        ></app-wine-listing>
      </li>
      </ul>
    </section>
    <section class="category">
      <h2>Keep Drinking</h2>
      <ul>
        <li *ngFor="let consumedWine of consumedWines"><app-consumed-wine
          [linkImg]="consumedWine.linkImg"
          [wineName]="consumedWine.wineName"
          [amount]="consumedWine.amount"></app-consumed-wine>
        </li>
      </ul>
    </section>
  </main>
</div>
